{% extends 'base.html.twig' %}

{% block body %}

    {% if menu.isvisible %}


        <div class="row">
            
            <div class="col-md-8 box-home">
                {{ include('default/carousel.html.twig') }}
            </div>
            

            <div class="col-md-4 box-home">
                <div class="news-body">
                    {{ menu.text|raw }}
                </div>
            </div>

        </div>

    {% else %}

        {{ include('default/carousel.html.twig') }}

    {% endif %}
    

{% endblock %}
