{% extends 'base.html.twig' %}

{% block body %}

    {% if menu.isvisible %}

        <div class="container">

            {{ include('default/carousel.html.twig') }}
            
            <div class="container">

                <h1>Menù</h1>
                {{ menu.text|raw }}

            </div>

        </div>
    {% else %}

        {{ include('default/carousel.html.twig') }}

    {% endif %}
    

{% endblock %}
