{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="admin-container">
        <div class="modal-header">
            <h1>Foto</h1>
        </div>
    
        <div class="modal-body">
            <table>
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for photo in photos %}
                    <tr>
                        <td><img src="{{ asset(['images/gallery/', photo.image] | join ) }}" class="admin-thumb" /></td>
                        <td>
                            <ul class="admin-actions">
                                <li>
                                    <a class="btn btn-warning" href="{{ path('admin_gallery_edit', { 'id': photo.id }) }}">Modifica foto</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        
            <a class="btn btn-success" href="{{ path('admin_gallery_new') }}">Aggiungi foto</a>
        </div>
    </div>
{% endblock %}
